/* src/pages/Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    margin-bottom: 20px;
}

.hero-subtitle {
    margin-bottom: 40px;
}

.hero-button {
    margin: 10px;
}